<style>
div {
  -moz-user-select: none;
}

.main-container {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-width-color: black;
  height: 626px;
  margin: 5px;
}


.right-container {
  width: 99%;
  padding: 5px;
  /*float: right;*/
  background-color: lightgrey;
  height: 625px;
}

.demographics {
}

.data {
  -moz-border-radius: 15px;
  border-radius: 5px;
  width: 98%;
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
  background-color: white;
}

.data-main {
  height: 460px;
  overflow: auto;
  padding: 5px 0px 5px 0px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.main-caption {
  text-align: center;
  background-color: black;
  color: white;
}

.time {
  float: right;
  padding-right: 15px;
}

.gender {
  position: relative;
  top: 4px;
}

.btn-date {
  background-color: #669999;
  border-bottom: 1px outset black;
  border-radius: 7px 7px 7px 7px;
  border-style: outset;
  border-top: 1px outset black;
  color: white;
  display: block;
  padding: 10px 16px 10px 10px;
  text-align: center;
  text-decoration: none;
  height: 15px;
  width: 93px;
}
</style>

<script>
   tt_cancel_destination = "/clinic"; 

   function changeAttributes(){                                              
     finishButton = document.getElementById("finishButton");
     finishButton.innerHTML = "<span>Continue</span>"; 
     finishButton.setAttribute("onclick","javascript:location='<%=@task.url%>'")

     btnDIV = document.getElementById('buttons');
     btnDIV.innerHTML+="<button id='btnCancel' class='red left' value='Cancel' onclick='if (tt_cancel_destination) window.location = tt_cancel_destination;'><span>Cancel</span></button>";
   } 

</script>

<body onload = "setTimeout('changeAttributes()',500);">

<div class="main-caption" id = "caption">
  <%=@encounter_dates.first.strftime('%A %d %B %Y') rescue nil%>
</div>

<div class="main-container">

  <div class="right-container">
    <div class="demographics data">
      <b>Name:&nbsp;</b><%=@patient_bean.name%>&nbsp;
      <%= image_tag("#{@patient_bean.sex.downcase}.gif", :class => 'gender') %><br />
      <b>Birthdate:</b>&nbsp;<%=@patient_bean.birth_date%>&nbsp;
      <b>Age:</b>&nbsp;<%=@patient_bean.age%><br />
      <b>National ID:</b>&nbsp;<%=@patient_bean.national_id_with_dashes%><br />
      <b>Address</b>&nbsp;Area 47<br /><hr />
      <b>Next task:</b>&nbsp;<%=@task.encounter_type%>
    </div><p />

    <div class="data-main" id="records">
 
    <div class="data">
      <b>Demographics ....</b><br />
      <b>Age in months:</b>&nbsp;<%=@patient_bean.age_in_months%><br />
      <b>Guardian:&nbsp;</b><%=@patient_bean.guardian%><br />
      <b>Home district:&nbsp;</b><%=@patient_bean.home_district%><br />
      <b>Traditional authority:</b>&nbsp;<%=@patient_bean.traditional_authority%><br />
      <b>Cell phone number:&nbsp;</b><%=@patient_bean.cell_phone_number%><br />
      <b>Home phone number:&nbsp;</b><%=@patient_bean.home_phone_number%><br />
      <b>Office phone number:&nbsp;</b><%=@patient_bean.office_phone_number%><br />
      <b>Occupation:&nbsp;</b><%=@patient_bean.occupation%><br />
    </div>

    </div>

  </div>

</div>

</body>

