<style>
div {
  -moz-user-select: none;
}

.main-container {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-width-color: black;
  height: 626px;
  margin: 5px;
}


.right-container {
  width: 99%;
  padding: 5px;
  /*float: right;*/
  background-color: lightgrey;
  height: 625px;
}

.demographics {
}

.data {
  -moz-border-radius: 15px;
  border-radius: 5px;
  width: 98%;
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
  background-color: white;
}

.data-main {
  height: 460px;
  overflow: auto;
  padding: 5px 0px 5px 0px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.main-caption {
  text-align: center;
  background-color: black;
  color: white;
}

.time {
  float: right;
  padding-right: 15px;
}

.gender {
  position: relative;
  top: 4px;
}

.btn-date {
  background-color: #669999;
  border-bottom: 1px outset black;
  border-radius: 7px 7px 7px 7px;
  border-style: outset;
  border-top: 1px outset black;
  color: white;
  display: block;
  padding: 10px 16px 10px 10px;
  text-align: center;
  text-decoration: none;
  height: 15px;
  width: 93px;
}
.data table{
  width: 95%;
  margin-left: 20px;
  height: 300px;
  border: 3px solid #FFB90F;
}
.logo{
  position: absolute;
  top: 10px;
}
.demographics{
margin-left: 200px;
width: 1060px;
}
</style>

<script>
   tt_cancel_destination = "/clinic"; 

   function changeAttributes(){                                              
     finishButton = document.getElementById("finishButton");
   
     finishButton.innerHTML = "<span>Pitiliza</span>";
     finishButton.setAttribute("onclick","javascript:location='<%=@task.url%>'")

     btnDIV = document.getElementById('buttons');
     btnDIV.innerHTML+="<button id='btnCancel' class='red left' value='Cancel' onclick='if (tt_cancel_destination) window.location = tt_cancel_destination;'><span>Leka</span></button>";
   } 

   function changeButtonPosition(){
     finishButton = document.getElementById("finishButton");
     finishButton.style.position = 'absolute';
     finishButton.style.left = '1150px'
   }
   setTimeout("changeButtonPosition();",200);
</script>

<body onload = "setTimeout('changeAttributes()',300);">

<div class="main-caption" id = "caption">
  <%=@encounter_dates.first.strftime('%A %d %B %Y') rescue nil%>
</div>

<div class="main-container">
  <div class="right-container">
    <%= image_tag(@logo, :class=>"logo") %>
    <div class="demographics data">
      <b>Dzina:&nbsp;</b><%=@patient_bean.name%>&nbsp;
      <%= image_tag("#{@patient_bean.sex.downcase}.gif", :class => 'gender') %><br />
      <b>Tsiku lobadwa:</b>&nbsp;<%=@patient_bean.birth_date%>&nbsp;<br />
      <b>Zaka:</b>&nbsp;<%=@patient_bean.age%><br />
      <b>Nambala ya chiphaso:</b>&nbsp;<%=@patient_bean.national_id_with_dashes%><br />
      <b>Kochokera :</b>&nbsp;<%=  "#{@patient_bean.home_village}, #{@patient_bean.traditional_authority}, #{@patient_bean.home_district}" %><br /><hr />
      <% if @latest_outcome %>
        <b>Zosatira:</b>&nbsp;<%= state_mapping(@latest_outcome) %>
      <% end %>
    </div><p />

    <div class="data-main" id="records">
 <br />
    <div class="data"><br />
      <table>
      <tr>
        <td colspan="2" style="background-color: #FFB90F; text-align: center; font-weight: bold; font-size: 14pt;">Zina zofunika kuziwa ....</td>
      </tr>
      <tr style="background-color: #BEBEBE">
        <td>Abale</td>
        <td><%=  @patient_bean.guardian %></td>
      </tr>
      <tr style="background-color: #BEBEBE">
        <td>Boma</td>
        <td><%=  @patient_bean.home_district %></td>
      </tr>
      <tr style="background-color: #BEBEBE">
        <td>Mfumu yaikulu</td>
        <td><%=  @patient_bean.traditional_authority %></td>
      </tr>
      <tr style="background-color: #BEBEBE">
        <td>Foni ya m'manja</td>
        <td><%=  @patient_bean.cell_phone_number %></td>
      </tr>
      <tr style="background-color: #BEBEBE">
        <td>Foni ya ku nyumba</td>
        <td><%=  @patient_bean.home_phone_number %></td>
      </tr>
      <tr style="background-color: #BEBEBE">
        <td>Foni ya ku ofesi</td>
        <td><%=  @patient_bean.office_phone_number %></td>
      </tr>
      <tr style="background-color: #BEBEBE">
        <td>Ntchito imene mumagwira</td>
        <td><%= occupations_mapping(@patient_bean.occupation) %></td>
      </tr style="background-color: #BEBEBE">
      </table><br /><br />
    </div>

    </div>

  </div>

</div>

</body>

